.title {
    font: var(--font-l);
    color: var(--primary-color);
}

.textContent {
    color: var(--secondary-color);
    font: var(--font-line-m);
}

.error {
    .title {
        color: var(--red-light);
    }

    .textContent {
        color: var(--red-dark);
    }
}
